h1 {
 font-family: 'Courier New', Courier, monospace;
 font-weight: 100;
 font-style: italic;
}
#Camera{
height: 400px;
width: 500px;
}
img {
 width: 37%;
border-radius: 8px;
padding: 10px;
box-shadow: 0 6px 8px 0 skyblue;
}
img:hover{
    border-radius: 140 px ;
}
.column{
    display:inline; 
    padding: 10px;
    
}

